<%- include('../layouts/head.ejs'); %>
<!--Spinner start-->
<%- include('../layouts/spinner.ejs'); %>
<!--Spinner end-->

<!-- Sidebard start-->
<%- include('../partials/sidebard.ejs'); %>
<!-- Sidebard end-->

<!--navbar start-->
<%- include('../partials/navbar.ejs'); %>
<!--navbar end-->

<!--Conten start-->

<div class="container-fluid pt-4 px-4 card  content-records-show">
    <div class="card  shadow-sm mb-3" style="background-color: rgb(243, 244, 253);">
        <div class="card-header" style="background-color: rgb(232, 239, 248);" >
            <h6 class="text-center" id="recordType">
                <button id="elevate"></button>
            </h6>
        </div>
        <div class="row m-2">
            <div class="col-md-6 ">
                <div class="card shadow-sm" style="background-color: rgb(243, 244, 253)">
                    <div class="card-header" style="background-color: rgb(232, 239, 248);">
                        <h6 class="text-center" id="recordId"
                            data-id="<%= id %>"><u>Información General</u>
                        </h6>
                        
                    </div>
                    <div class="row m-2">
                        <div class="col-12 m-2">
                            <div class="card " >
                                <div class="card-body" id="department">
                                    Departamento/Formosa
                                </div>
                            </div>
                        </div>
                        <div class="col-12 m-2">
                            <div class="card ">
                                <div class="card-body" id="locality">
                                    Localidad/Formosa
                                </div>
                            </div>
                        </div>
                        <div class="col-12 m-2">
                            <div class="card ">
                                <div class="card-body" id="origin">
                                    Iniciado por: Denuncia
                                </div>
                            </div>
                        </div>
                        <div class="col-12 m-2">
                            <div class="card ">
                                <div class="card-body" id="dateOrigin">
                                    Fecha Origen/12-12-2021
                                </div>
                            </div>
                        </div>
                        <div class="col-12 m-2">
                            <div class="card ">
                                <div class="card-body" id="dateStart">
                                    Fecha Inicio/12-12-2021
                                </div>
                            </div>
                        </div>
                        <div class=" col-12 m-2">
                            <div class="card ">
                                <div class="card-body" id="jurisdiction">
                                    Circunscripción/1° Circunscripción Judicial
                                </div>
                            </div>
                        </div>
                        <div class="col-12 m-2">
                            <div class="card ">
                                <div class="card-body" id="court">
                                    Juzgado/Juzgado de Familia y Menores N° 1
                                </div>
                            </div>
                        </div>
                        <div class="col-12 m-2">
                            <div class="card ">
                                <div class="card-body" id="order">
                                    Orden n° 1
                                </div>
                            </div>
                        </div>
                        <div class="col-12 m-2">
                            <div class="card ">
                                <div class="card-body" id="secretary">
                                    Secretario/Of Juan Perez
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm" style="height: 43%; background-color: rgb(243, 244, 253)">
                    <div class="card-header" style="background-color: rgb(232, 239, 248);">
                        <h6 class="text-center"><u>Resumen</u></h6>
                    </div>
                    <div class="card-body bg-white" id="resume">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Et suscipit quos vero doloribus tenetur accusamus aut
                        dolores nisi! Mollitia quam consectetur ipsum non rem
                        eos doloribus placeat, voluptatem eligendi quasi!
                    </div>
                </div>
                <div class="card shadow-sm mt-5" style="height: 50%;background-color: rgb(243, 244, 253)">
                    <div class="card-header" style="background-color: rgb(232, 239, 248);">
                        <h6 class="text-center"><u>Personas
                                involucradas</u></h6>
                        <!-- Botón para abrir el modal -->
                        <button type="button"
                            class="btn  btn-sm btn-modal"
                            data-bs-toggle="modal"
                            data-bs-target="#modalPerson">
                            <i class="bi bi-person-plus-fill"></i>
                        </button>
                    </div>
                    <div class="card-body table-responsive bg-white">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">DNI</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Clase</th>
                                    <th scope="col">Domicilio</th>
                                    <th scope="col">Vinculación</th>
                                </tr>
                            </thead>
                            <tbody id="involvedPerson">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container mt-4">
                <div class="card m-3  shadow-sm" style="background-color: rgb(243, 244, 253)">
                    <div class="card-header" style="background-color: rgb(232, 239, 248);">
                        <h6 class="text-center"><u>Secuestros</u></h6>
                        <button type="button"
                            class="btn  btn-sm btn-modal"
                            data-bs-toggle="modal"
                            data-bs-target="#modalSecuestro">
                            <i class="bi bi-file-earmark-plus"></i>
                        </button>
                    </div>
                    <div class="card-body bg-white" id="confiscation">
                        <p>No hay secuestros que mostrar.-
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container mt-2">
                <div class="card m-3  shadow-sm" style="background-color: rgb(243, 244, 253)">
                    <div class="card-header" style="background-color: rgb(232, 239, 248);">
                        <h6 class="text-center"><u>Observaciones</u></h6>
                        <button type="button"
                            class="btn  btn-sm btn-modal"
                            data-bs-toggle="modal"
                            data-bs-target="#modalObservaciones">
                            <i class="bi bi-file-plus"></i>
                        </button>
                    </div>
                    <div class="card-body bg-white" id="observations">
                        <p>No hay observaciones que mostrar.-
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container mt-2">
                <div class="card m-3  shadow-sm" style="background-color: rgb(243, 244, 253)">
                    <div class="card-header" style="background-color: rgb(232, 239, 248);">
                        <h6 class="text-center"><u>Archivos Adjuntos</u></h6>
                        <button type="button"
                            class="btn  btn-sm btn-modal"
                            data-bs-toggle="modal"
                            data-bs-target="#modalFiles">
                            <i class="bi bi-file-plus"></i>
                        </button>
                    </div>
                    <div class="card-body bg-white" id="recordPdf">
                        <p>No hay observaciones que mostrar.-
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Personas -->
    <div class="modal fade" id="modalPerson" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar
                        Persona</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para agregar información de personas -->
                    <form id="formPerson">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">DNI:</label>
                            <input type="number" class="form-control" id="dni"
                                name="dni" >
                        </div>
                        <div class="mb-3">
                            <label for="apellido"
                                class="form-label">Apellido:</label>
                            <input type="text" class="form-control"
                                id="lastname" name="lastname" >
                        </div>
                        <div class="mb-3">
                            <label for="apellido"
                                class="form-label">Nombre:</label>
                            <input type="text" class="form-control"
                                id="firstname" name="firstname" >
                        </div>
                        <div class="mb-3">
                            <label for="apellido"
                                class="form-label">Domicilio:</label>
                            <input type="text" class="form-control" id="address"
                                name="address" >
                        </div>
                        <div class="mb-3">
                            <label for="year"
                                class="form-label">Clase:</label>
                            <input type="number" class="form-control" id="year"
                                name="year" >
                        </div>
                        <div class="mb-3">
                            <label for="locality"
                                class="form-label">Localidad:</label>
                            <input type="text" class="form-control"
                                id="localityPerson"
                                name="localityPerson" >
                        </div>
                        <div class="mb-3">
                            <label for="observations"
                                class="form-label">Observaciones</label>
                            <textarea class="form-control" name="obs"
                                id="obs" rows="3">
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <label for="type"
                                class="form-label">Tipo</label>
                            <select name="type" id="type" class="form-select">
                                <option value="1">Denunciante</option>
                                <option value="2">Damnificado</option>
                                <option value="3">Imputado</option>
                                <option value="4">Testigo</option>
                                <option value="5">Victima</option>
                                <option value="6">Otro</option>
                            </select>
                        </div>
                        <button type="submit"
                            class="btn ">Guardar</button>
                        <button
                            class="btn btn-secondary"
                            type="reset">Borrar campos</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Secuestros -->
    <div class="modal fade" id="modalSecuestro" tabindex="-1"
        aria-labelledby="modalSecuestroLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalSecuestroLabel">Agregar
                        secuestros</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para el secuestro -->
                    <form id="formConfiscation">
                        <div class="mb-3">
                            <label for="formConfiscation"
                                class="form-label">Secuestros:</label>
                            <textarea class="form-control"
                                id="confiscationInput"
                                name="confiscationInput" rows="3"
                                required></textarea>
                        </div>
                        <button type="submit" class="btn ">Guardar
                            Secuestro</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Observaciones-->
    <div class="modal fade" id="modalObservaciones" tabindex="-1"
        aria-labelledby="modalObservacionesLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="modalObservacionesLabel">Agregar</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para las observaciones -->
                    <form id="formObservations">
                        <div class="mb-3">
                            <label for="observationsInput"
                                class="form-label">Observaciones:</label>
                            <textarea class="form-control" id="observationsInput"
                                name="observationsInput" rows="3" required></textarea>
                        </div>
                        <!-- Agrega más campos según sea necesario -->

                        <button type="submit"
                            class="btn">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalFiles" tabindex="-1"
    aria-labelledby="modalFilesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFilesLabel">Subir Archivos</h5>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para el secuestro -->
                <form id="formFiles" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupFile01">PDF</label>
                        <input type="file" class="form-control" id="file-input" name="pdf">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupFile01">Descripción</label>
                        <input type="text" class="form-control" id="file-description" name="file-description">
                    </div>
                    <button type="submit" class="btn ">Subir</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
    <!--Content end-->

    <script
        src="/js/records/recordDetails.js"
    ></script>
    <script
        src="/js/persons/create.js"
    ></script>
    <script
    src="/js/records/edit.js"
    ></script>
    <script
    src="/js/files/uploads.js"
    ></script>
    <!--footer and end-->
    <%- include('../partials/footerAndEnd.ejs'); %>

    <%- include('../layouts/bottom.ejs'); %>