<%- include('../layouts/head.ejs'); %>
    <!--Spinner start-->
<%- include('../layouts/spinner.ejs'); %>
<!--Spinner end-->

<!-- Sidebard start-->
<%- include('../partials/sidebard.ejs'); %>
<!-- Sidebard end-->

<!--navbar start-->
<%- include('../partials/navbar.ejs'); %>
<!--navbar end-->

<div class="container-fluid pt-4 px-4 card">
    <div class="row g-4 d-flex justify-content-between">
        <div class="card col-sm-3 mx-2">
            <div class="card-header bg-white">
                <h6>Expedientes</h6>
            </div>
            <div class="card-body">
                <h2 class="text-center">6</h2>
            </div>
        </div>
        <div class="card col-sm-3 mx-2">
            <div class="card-header bg-white">
                <h6>Completados</h6>
            </div>
            <div class="card-body">
                <h2 class="text-center">6</h2>
            </div>
        </div>
        <div class="card col-sm-3 mx-2">
            <div class="card-header bg-white">
                <h6>En proceso</h6>
            </div>
            <div class="card-body">
                <h2 class="text-center">6</h2>
            </div>
        </div>
        <div class="card col-sm-3 mx-2">
            <div class="card-header bg-white">
                <h6>Proximos a vencer</h6>
            </div>
            <div class="card-body">
                <h2 class="text-center">6</h2>
            </div>
        </div>
        <div class="card col-sm-3 mx-2">
            <div class="card-header bg-white">
                <h6>Vencidos</h6>
            </div>
            <div class="card-body">
                <h2 class="text-center">6</h2>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-sm-12 ">
        <div class=" rounded h-100 p-4">
            <h6 class="mb-4">Ultimos expedientes cargados</h6>
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">orden</th>
                        <th scope="col">Localidad</th>
                        <th scope="col">Fecha de inicio</th>
                        <th scope="col">Iniciado por</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <th scope="row">1</th>
                        <td>25</td>
                        <td>Doe</td>
                        <td>12/08/2023</td>
                        <td>Juan Parquis</td>
                        <td>SIn elevar</td>
                        <td><a href="#" class="btn btn-outline btn-sm btn-show"><i class="bi bi-eye-fill"></i></a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>24</td>
                        <td>Doe</td>
                        <td>12/08/2023</td>
                        <td>Bon Joe</td>
                        <td>SIn elevar</td>
                        <td><a href="#" class="btn btn-outline btn-sm btn-show"><i class="bi bi-eye-fill"></i></a></td>
                    </tr >
                    <tr>
                        <th scope="row">3</th>
                        <td>23</td>
                        <td>Doe</td>
                        <td>12/08/2023</td>
                        <td>Bon Jovi</td>
                        <td>SIn elevar</td>
                        <td><a href="#" class="btn btn-outline btn-sm btn-show"><i class="bi bi-eye-fill"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>




<!--footer and end-->
<%- include('../partials/footerAndEnd.ejs'); %>


<%- include('../layouts/bottom.ejs'); %>






